
<div class="form-group">
    <button class="btn btn-success btn-lg float-right" type="submit" [routerLink]="[ '/logout']">
         Logout
    </button>
</div>
<div>
    <br>
<div>



<div>
    <nav class="navbar navbar-expand-sm bg-light justify-content-center">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/viewallipos']">IPOs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/company-chart']">Compare Company</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" >Company Sectors</a>
            </li>
        </ul>
    </nav>
</div>